@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
html.light {
  background-color: #457e8c;
  color: #000;
}

html.dark {
  background-color: #101828;
  color: #eee;
}
@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}
.scrollable::-webkit-scrollbar {
  width: 8px; /* 6px thumb + 3px padding on each side = 12px */
}

.scrollable::-webkit-scrollbar-track {
  background: #1a2328; /* gray background */
  border-radius: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #4fced5;
  border-radius: 6px;

  /* Simulate padding using transparent border */
  border: 2px solid transparent;

  /* Show track background through the border */
  background-clip: content-box;

  /* box-shadow: 0 0 5px #4fced5; optional glow */
}
