@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
html.light {
  background-color: #457e8c;
  color: #000;
}

html.dark {
  background-color: #101828;
  color: #eee;
}
@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}
.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: rgba(26, 35, 40, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(6px);
}

.scrollable::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4fced5, #2dd4bf);
  border-radius: 10px;

  /* creates spacing effect */
  border: 2px solid transparent;
  background-clip: content-box;

  /* glow effect */
  box-shadow: 0 0 10px rgba(79, 206, 213, 0.4);

  transition: all 0.3s ease;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #67e8f9, #4fced5);
  box-shadow: 0 0 15px rgba(79, 206, 213, 0.7);
}